// Override default variables
$theme-colors: (
  "primary": #6D5CFD,
  "secondary": #f2c335,
  "info": #1745b8,
  "light": #FCFCFC,
  "dark": #272E38
);

$border-radius: 0.75rem; 
$btn-padding-x: 1.5rem;


// Import Bootstrap to apply the changes
@import '~bootstrap/scss/bootstrap';

/********** CUSTOM STYLES ************/

// Custom colors
$color-grey: #B0B0B0;

// Custom fonts
$font-accent: "Righteous", "Georgia", serif;
$font-regular: "Mukta", "Tahoma", sans-serif;


body {
  font-family: $font-regular;
}

.navbar-link {
  color: map-get($theme-colors, "light");
}

